.menu {
    min-width: 400px;
    position: absolute;
    height: 100vh;
    top: 0;
    display: flex;
    left: -330px;
    transition: left 0.5s linear;
}

.menu.expanded {
    left: 0;
}

.menu-icon {
    position: absolute;
    right: 20px;
    top: 30px;
}

.menu-icon .icon {
    cursor: pointer;
}

.menu-items {
    width: 100%;
}
