.menu {
    min-width: 400px;
    position: absolute;
    height: 100vh;
    background-color: #355e3b;
    top: 0;
    display: flex;
    left: -330px;
    transition: left 0.5s linear;
}

.menu.dark {
    background-color: #36454f;
}

.menu.expanded {
    left: 0;
}

.menu-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 30px 20px;
}

.menu-icon .icon {
    cursor: pointer;
}
